body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.intro{
  background: linear-gradient(180deg, #E9EDFB 0%, rgba(233, 237, 251, 0) 100%);
}
.about-us{
  background: #F6F7FB;
}
.network{
  background: #E9EDFB;
}
footer{
  background: #F6F7FB;
}
.app-store{
  background: #FDEDED;
}

.padding-all{
  padding:"120px"
}


/* Carrier */
.carrier_reason{

background: #F6F7FB;
border-radius: 8px;
}


/* ABout us */
.about__image{
  position: relative;
  bottom: 200px;
}


/* Dashboard */

.flex__justify__btwn {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sidebar__container {
	background-color: #FFFF;
	width: 223px;
	position: fixed;
	top: 0%;
	right: 0;
	left: 0;
	bottom: 0%;
	scroll-behavior: smooth;
	height: 100vh;
	box-shadow: 1px 0px 4px -5px rgba(0, 0, 0, 0.49);
	-webkit-box-shadow: 1px 0px 4px -5px rgba(0, 0, 0, 0.49);
	-moz-box-shadow: 1px 0px 4px -5px rgba(0, 0, 0, 0.49);
	/* / overflow-y: scroll; / */
}
.flex__column {
	display: flex;
	flex-direction: column;
}
.sidebar__logo {
	width: 200px;
	padding: 5px;
	background-color: #fff !important;
	border-radius: 8px;
	margin: 15px auto;
}

.sidebar__logo > img {
	width: 30%;
	height: auto;
}
.sidebar__list {
	color: #274AD8;
	padding: 10px;
	display: flex;
	align-items: center;
	margin: 0 5px 5px 5px;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
}
.sidebar__list:hover {
	background-color: rgba(0, 0, 0, 0.2);
	color: #ffffff;
}

.sidebar__list__text {
	margin-left: 12px;
	font-size: 14px;
	text-transform: capitalize;
}

.navbar__container {
	padding: 0 20px;
	background-color: #ffffffff;
	margin-bottom: 20px;
	margin-left: 224px;
}
.profile__container {
	position: relative;
	display: inline-block;
	padding: 20px 0;
}
.navbar__dropdown {
	top: 4em;
	position: absolute;
	right: 0em;
	padding: 10px 15px;
	z-index: 9999;
	background-color: #ffffff;
	border-radius: 5px;
	display: none;
}
.notification{
	top: 4em;
	position: absolute;
	right: 0em;
	padding: 10px 15px;
	z-index: 9999;
	background-color: #ffffff;
	border-radius: 5px;
	display: none;
	width: 460px;
height: 424px;

}


.navbar__dropdown__block {
	top: 4em;
	position: absolute;
	right: 0em;
	padding: 10px 15px;
	z-index: 9999;
	background-color: #ffffff;
	border-radius: 5px;
	display: block;
}
.notification__block {
	top: 4em;
	position: absolute;
	right: 0em;
	padding: 10px 15px;
	z-index: 9999;
	background-color: #ffffff;
	border-radius: 5px;
	display: block;
}
/* .profile__container:hover .navbar__dropdown {
	display: block;
} */

.admin_image {
	margin-left: 7px;
	cursor: pointer;
	/* display: inline-block; */
}
.profile__text {
	font-weight: 600;
	font-size: 16px;
}
/* .profile__container:hover .navbar__dropdown {
	display: block;
} */
.navbar__dropdown-list {
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	padding: 10px 10px;
	text-align: left;
	min-width: 160px;
}
.navbar__dropdown-list:hover {
	color: black;
	border-radius: 5px;
}
.admin__main__content__left__side {
	padding-left: 223px;
	min-height: 573px;
  background-color: #F6F7FB;
}

/* Textfield */
.input__error__container {
	background-color: #e4655f;
	color: #fff;
	margin-top: 3px;
	font-size: 12px;
	padding: 2px 2px 2px 23px;
	display: inline-block;
	margin-bottom: 0 !important;
}
.input__error__icon {
	position: absolute;
	z-index: 222;
	display: inline;
	color: #ffffffff;
	margin-left: 2px;
}

/* FAQs css */

.question-section {
	background: transparent;
	border: 1px solid lightgray;
	border-radius: 8px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
	  rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	cursor: pointer;
	width: 92vw;
  }
  
  .question-align {
	align-items: center;
	display: flex;
	min-height: 10px;
	text-align: left;
  }
  
  .question-align h4 {
	margin-left: 8px;
  }
  
  .question-styling {
	font-size: 17px;
	width: 100%;
  }
  
  .question-icon {
	background: none;
	border: none;
	color: #1b6aae;
	cursor: pointer;
	font-size: 22px;
	margin-left: auto;
	margin-right: 8px;
  }
  
  .rotate {
	transform: rotate(45deg);
  }
  
  .answer-divider {
	border-top: 1px solid lightgray;
  }
  
  .answer {
	margin-left: 8px;
	margin-right: 8px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.6s ease;
	text-align: left;
  }
  
