@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: "Inter";
	src: url(./assets/fonts/Inter-Thin.ttf);
	font-style: normal;
	font-weight: 100;
}
@font-face {
	font-family: "Inter";
	src: url(./assets/fonts/Inter-Light.ttf);
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: "Inter";
	src: url(./assets/fonts/Inter-Regular.ttf);
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "Inter";
	src: url(./assets/fonts/Inter-Medium.ttf);
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "Inter";
	src: url(./assets/fonts/Inter-SemiBold.ttf);
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "Inter";
	src: url(./assets/fonts/Inter-Bold.ttf);
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "Inter";
	src: url(./assets/fonts/Inter-ExtraBold.ttf);
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: "Inter";
	src: url(./assets/fonts/Inter-Black.ttf);
	font-style: normal;
	font-weight: 900;
}
* {
	font-family: "Inter", sans-serif;
	/* overflow: auto; */
}
.intro{
  background: linear-gradient(180deg, #E9EDFB 0%, rgba(233, 237, 251, 0) 100%);
}
.about-us{
  background: #F6F7FB;
}
.network{
  background: #E9EDFB;
}
footer{
  background: #F6F7FB;
}
.app-store{
  background: #FDEDED;
}

.padding-all{
  padding:"120px"
}


/* Carrier */
.carrier_reason{

background: #F6F7FB;
border-radius: 8px;
}


/* ABout us */
.about__image{
  position: relative;
  bottom: 200px;
}